body {
    background-color: #232637;
    color: #D0D0D0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.85rem;
}

.game-title {
    color: #FD8328;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5%;
}

.row {
    justify-content: center;
}

#gameBoard>.row {
    width: 360px;
}

#startScreen>.row {
    width: 700px;
}

.btn {
    color: #FFFFFF;
    width: 100%;
    font-size: 0.85rem;
}

.btn-play {
    width: 200px;
}

.btn:hover {
    color: #FFFFFF;
}

.btn-bgcolor {
    background-color: #FD8328;
}

.new-game-description {
    padding-top: 5px;
    font-size: 0.8rem;
}

#startScreen,
#gameBoard {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
    width: 100%;
}

@media screen and (min-width: 441px) {
    #gameBoard {
        width: 400px;
    }
}

#gameGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
}

.grid-container {
    width: 360px;
    height: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 15px;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    background-color: #254a54;
    background-size: contain;
}

.grid-container .item {
    display: flex;
    background-color: #276268;
    height: 100%;
    width: 100%;
    border-radius: 8px;

}

.item,
.name-icon {
    background-repeat: no-repeat;
    background-position: center;
}

.item {
    cursor: pointer;
}

.icon-o {
    background-image: url(../img/icon-o.png);
    background-size: 70%;
}

.icon-x {
    background-image: url(../img/icon-x.png);
    background-size: 60%;
}

.name-icon {
    background-size: 12px;
    background-position: left;
}

.player,
.score-turn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-turn {
    padding: 0;
}

.player-name {
    text-align: left;
    padding-left: 5%;
    color: #FBC375;
}

.grid-container-two {
    display: grid;
    grid-template-columns: 18px 1fr;
    grid-template-rows: 100%;
}

.avatar {
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    border-radius: 100%;
    margin: 5% 0;
    background-repeat: no-repeat;
    background-position: center;
}

.avatars .avatar:hover,
.avatars .avatar:active,
.avatars .avatar:focus {
    border: solid #FD8328;
    border-width: 2px;
    cursor: pointer;
}

#score {
    color: #b5ead3;
    font-weight: bold;
    font-size: 1.1rem;
}

.player-container {
    display: grid;
    grid-template-columns: 90px 190px;
    max-width: 350px;
    padding-bottom: 20%;
    font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
    #player1.player-container {
        justify-content: left;
    }

    #player2.player-container {
        justify-content: right;
    }
}

.avatars {
    display: flex;
    justify-content: space-between;
}

input {
    display: block;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    padding: 0 10px;
    margin: 6px 0;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: none;
    box-shadow: none;
}

.player-field {
    text-align: left;
}

.avatar-1 {
    background-image: url(../img/shrimp.svg);
    background-size: 70%;
}

.avatar-2 {
    background-image: url(../img/unicorn.svg);
    background-size: 70%;
}

.avatar-3 {
    background-image: url(../img/fish.svg);
    background-size: 70%;
}

.avatar-4 {
    background-image: url(../img/cat.svg);
    background-size: 70%;
}

.avatar-5 {
    background-image: url(../img/dog.svg);
    background-size: 70%;
}

.avatar-6 {
    background-image: url(../img/mouse.svg);
    background-size: 70%;
}

.alert {
    position: absolute;
    top: 150px;
    right: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0;
    text-align: left;
    color: #FD8328;
}

.winning-line {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 85%;
    height: 16px;
    top: 50%;
    left: 50%;
    background: #FBC375;
    border-radius: 8px;
    transform-origin: center;
}

.combination-012 {
    top: calc((100% - 80px)/6 + 30px);
    transform: translate(-50%, -50%);
    animation: slide-center 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}

.combination-345 {
    transform: translate(-50%, -50%);
    animation: slide-center 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}

.combination-678 {
    top: calc(100% - (100% - 80px)/6 - 30px);
    transform: translate(-50%, -50%);
    animation: slide-center 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}

.combination-036 {
    left: calc((100% - 50px)/6 + 15px);
    transform: translate(-50%, -50%) rotate(90deg);
    animation: slide-center 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}

.combination-147 {
    transform: translate(-50%, calc(-50%)) rotate(90deg);
    animation: slide-center 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}

.combination-258 {
    left: calc(100% - (100% - 50px)/6 - 15px);
    transform: translate(-50%, -50%) rotate(90deg);
    animation: slide-center 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}

.combination-048 {
    transform: translate(-50%, -50%) rotate(45deg) scaleX(1.414);
    animation: slide-center 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}

.combination-246 {
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(1.414);
    animation: slide-center 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
}

@keyframes slide-center {
    0% {
        opacity: 0;
        transform: translateZ(-50%);
    }

    100% {
        opacity: 1;
        transform: translateZ(50%);
    }
}

@media only screen and (max-width: 768px) {

    /* For mobile phones */
    [class*="col-"] {
        width: 100%;
    }
}

.btn-play:hover,
.btn-restart:hover {
    background-color: #FF9A50;

}

.btn-new-game:hover {
    background-color: #3E4255;
}

.item:hover {
    background-color: #447B80;
}